/** Slider **/
.leaflet-control-zoomslider-wrap {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.leaflet-control-zoomslider-body {
	box-sizing: content-box;
	width: 1px;
	border: solid #fff;
	border-width: 0px 9px 0px 9px;
	background-color: #ddd;
	margin: 0 auto;
}
.leaflet-control-zoomslider-knob {
	position: relative;
	width: 12px;
	height: 4px;
	background-color: #efefef;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #000;
	margin-left: -6px;
}
.leaflet-control-zoomslider-body:hover {
	cursor: pointer;
}
.leaflet-control-zoomslider-knob:hover {
	cursor: default;
	cursor: -webkit-grab;
	cursor:    -moz-grab;
}

.leaflet-dragging .leaflet-control-zoomslider,
.leaflet-dragging .leaflet-control-zoomslider-wrap,
.leaflet-dragging .leaflet-control-zoomslider-body,
.leaflet-dragging .leaflet-control-zoomslider a,
.leaflet-dragging .leaflet-control-zoomslider a.leaflet-control-zoomslider-disabled,
.leaflet-dragging .leaflet-control-zoomslider-knob:hover  {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
}

/** Leaflet Zoom Styles **/
.leaflet-container .leaflet-control-zoomslider {
	margin-left: 10px;
	margin-top: 10px;
}
.leaflet-control-zoomslider a {
	width: 26px;
	height: 26px;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
	background-color: #fff;
}
.leaflet-control-zoomslider a:hover {
	background-color: #fff;
}
.leaflet-control-zoomslider-in:hover{
	background-color: #fff;
}
.leaflet-control-zoomslider-in {
	font: bold 18px 'Lucida Console', Monaco, monospace;
}
.leaflet-control-zoomslider-in:after{
	color: #999;
	content:"+";
}
.leaflet-control-zoomslider-in:hover::after{
	color: #19ac9e;
}
.leaflet-control-zoomslider-out:hover::after{
	color: #19ac9e;
}
.leaflet-control-zoomslider-out a:active{
	color: #19ac9e;
}
.leaflet-control-zoomslider-in a:active{
	color: #19ac9e;
}
.leaflet-control-zoomslider-out {
	font: bold 22px 'Lucida Console', Monaco, monospace;
}
.leaflet-control-zoomslider-out:after{
	color: #999;
	content:"−"
}
.leaflet-control-zoomslider a.leaflet-control-zoomslider-disabled {
	cursor: default;
	color: #fff;
}

/* Touch */
.leaflet-touch .leaflet-control-zoomslider-body {
	background-position: 10px 0px;
}
.leaflet-touch .leaflet-control-zoomslider-knob {
	width: 16px;
	margin-left: -7px;
	padding: 3px 5px;
	background-color: #19ac9e;
	border: none;
	border-radius: 4px;
}
.leaflet-control-zoomslider-scale{
	width: 11px;
	height: 0px;
	border-top: 1px solid #ddd;
	margin-left: -4.5px;
}
.leaflet-touch .leaflet-control-zoomslider a {
	width: 30px;
	line-height: 30px;
	font-weight: normal;
}
.leaflet-touch .leaflet-control-zoomslider a:hover {
	width: 30px;
	line-height: 30px;
}
.leaflet-touch .leaflet-control-zoomslider-in {
	font-size: 24px;
	line-height: 29px;
}
.leaflet-touch .leaflet-control-zoomslider-in:hover{
	background-color: #fff;
}
.leaflet-touch .leaflet-control-zoomslider-out:hover{
	background-color: #fff;
}
.leaflet-touch .leaflet-control-zoomslider-out {
	font-size: 28px;
	line-height: 30px;
}
.leaflet-touch .leaflet-control-zoomslider {
	box-shadow: none;
	border: 4px solid rgba(0,0,0,0.3);
}

/* Old IE */

.leaflet-oldie .leaflet-control-zoomslider-wrap {
	width: 26px;
}

.leaflet-oldie .leaflet-control-zoomslider {
	border: 1px solid #999;
}

.leaflet-oldie .leaflet-control-zoomslider-in {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '+');
}
.leaflet-oldie .leaflet-control-zoomslider-out {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '-');
}
.leaflet-control-zoomslider-province{
	width: 60px;
	height: 16px;
	background-color: #999;
	clip-path: polygon(0px 0px, 40px 0px, 50px 8px,40px 16px,0px 16px);
	color: #fff;
}
.leaflet-control-zoomslider-province:after{
	content: '省  (2)';
	font-size: 12px;
	padding-left: 4px;
}
.leaflet-control-zoomslider-street{
	width: 60px;
	height: 16px;
	background-color: #999;
	clip-path: polygon(0px 0px, 40px 0px, 50px 8px,40px 16px,0px 16px);
	color: #fff;
}
.leaflet-control-zoomslider-street:after{
	content: '街 (11)';
	font-size: 12px;
	padding-left: 4px;
}
.leaflet-control-zoomslider-city{
	width: 60px;
	height: 16px;
	background-color: #999;
	clip-path: polygon(0px 0px, 40px 0px, 50px 8px,40px 16px,0px 16px);
	color: #fff;
}
.leaflet-control-zoomslider-city:after{
	content: '市  (5)';
	font-size: 12px;
	padding-left: 4px;
}