#cover-layer, .map-pane{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#cover-layer{
    z-index: 100;
    pointer-events: none;
}

#cover-layer div{
    pointer-events: auto;
}

.map-pane{
    z-index: 50;
    display: none;
}

#map-wrapper{
    position: relative;
    width: 800px;
    height: 600px;
}

.city .select-selection{
    width: 100%;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    padding: 3px 10px;
    margin: 0 -15px;
}

.city{
    padding: 0 20px;
}
.marker-div .marker-name{
    transform: translateX(calc((70px - 100%) / 2));
}

.marker-div .car-state-container{
    width: 44px;
    left: -22px;
    position:relative;
}

.marker-div .car-map-icon{
    width: 28px;
    height: 28px;
}

.marker-div .car-state-box{
    /*  width: 100px;
     position:relative;
     margin-left: -28px; */
    float: left; /* 自适应内容宽度 */
    position: relative;
    left: 50%;
    pointer-events: none;
}

.marker-div .car-state{
    background: #ffffff;
    color: #333333;
    padding: 0 5px;
    border: 1px solid #666666;
    /* margin-left: auto; */
    position: relative;
    left: -50%;
    white-space: nowrap;
}
.add-marker{
    position: absolute;
    right: 0px;
}